.offer {
    width: 100%;

    &__title {
        width: 65%;
        text-align: center;
        font-family: "Segoe UI";

        &__heading {
            color: #1b8dcd;
            font-size: 36px;
            text-transform: uppercase;
        }
        
        &__text {
            color: #213b7d;
            font-size: 14px;
            padding: 35px 0 90px 0;
        }
    }

    &__details {
        font-family: "Segoe UI";
        
        &__left {
            width: 171px;
            text-align: center;

            &__title {
                color: #1b8dcd;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
            }

            &__text {
                padding: 20px 0 0;
                margin-bottom: 120px;
                color: #213b7d;
                font-size: 12px;
            }
        }

        &__center {
            width: 300px;
            line-height: 70px;
            align-items: center;
            margin-top: -85px;
            position: relative;
            
            &__text {
                color: #1b5da9;
                font-size: 50px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                border: 1px solid rgba(0, 0, 0, .2);
                padding: 40px;
                border-radius: 150px;
                
                &::after{
                    content: '';
                    display: block;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    top: 155px;
                    left: 18px;
                    background-color: #223b7e;
                    border-radius: 50px;
                    box-shadow: 0px 0px 0px 1px rgba(0,0,0,.2);
                }
            }
        }

        &__right {
            width: 201px;
            text-align: center;

            &__title {
                color: #1b8dcd;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
            }

            &__text {
                padding: 20px 0 0;
                margin-bottom: 120px;
                color: #213b7d;
                font-size: 12px;
            }
        }
    }
}
@media screen and (max-width: 996px){
    .offer {
        &__details {

            &__left {
                &__title {
                    font-size: 14px;
                }
                &__text {
                    font-size: 11px;
                }
            }

            &__center {
                width: 255px;
                line-height: 57px;

                &__text {
                    font-size: 40px;
                    
                    &::after{
                        top: 160px;
                    }

                }
            }
    
            &__left {
                &__title {
                    font-size: 14px;
                }
                &__text {
                    font-size: 11px;
                }
            }
        }
    }
}
@media screen and (max-width: 996px){
    .offer {
        &__details {
            &__center {
                display: none !important;
            }

        }
    }
}